In [1]:
import pandas as pd
import pymysql
import sqlalchemy

Here we are only importing the static data to the cloud MySQL database

In [2]:
# import .csv data for the required Tables & remove Unnamed index

city_data = pd.read_csv("city_data.csv")
city_data.drop(columns = ["Unnamed: 0"], inplace = True)
city_data.rename(columns={'city':'city_name'}, inplace = True)
airport_data = pd.read_csv("airport_data.csv")
airport_data.drop(columns = ["Unnamed: 0"], inplace = True)

In [3]:
airport_data

In [15]:
city_data.head()

In [4]:
# complete the infor for the sql schema which is connected to the cloud

schema = 'gans'
host = 'wbs-project4-db.cdf7pal02v3u.eu-central-1.rds.amazonaws.com' 
user = 'admin'
password = 'Your RDS Instance code'
port = 3306
con = f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}"

write the codes to append the sql tables with the required information from each dataframe

In [5]:
city_data.to_sql("cities", if_exists = "append", con = con, index = False)

In [6]:
airport_data.to_sql("airports", if_exists = "append", con = con, index = False)